<hello name="{{ name }}"></hello>
<p>
  Belajar Angular Pertama
  <br/><br/>
  {{"Contoh menulis di angular"}}
  25+25={{25+25}}

  <br/>
  <input [(ngModel)]="a" type="text">*
  <input [(ngModel)]="b" type="text">
  {{a*b}}

  
  
</p>
<div *ngFor="let buah of itembuah; let i=index">
  {{i+1}}.{{buah.nama}}-{{buah.harga| currency:'Rp'}}
  </div>
<div *ngFor="let data of itemArr">
  {{data}}
  </div>
<ng-template *ngIf="show;then showBlock;else notshowBlock">
</ng-template>

<ng-template #showBlock>
  <p>Show when show true</p>
</ng-template>
<ng-template #notshowBlock>
  <p>Show when show not true</p>
</ng-template>

<button (click)="klikButton()">tekan tombol</button>
{{Pesan}}